@media (min-width: 1024px) and (max-width: 1440px) {
  //layouts
  .mrvl-primary-layout,
  .mrvl-secondary-layout,
  .mrvl-simple-layout {
    width: 100%;
    max-width: 1024px;
  }

  //swiper
  .swiper {
    width: 1007px;
    height: 400px; 
    margin: 0 auto;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 1024px;
    text-align: center;
  }

  .swiper-slide {width: 1024px; margin-right: 0;}

  .slide {
    height: 400px;

    &-content {
      width: 512px;
      height: 400px;
      gap: 40px;
      height: 400px;
      padding: 30px;

      &_title { font-size: 40px; }
      &_text { font-size: 18px; }
    }

    &-image {
      max-width: 512px;
      height: 400px;
    }
  }
//containers at home page
  .mrvl-section-characters,
  .mrvl-section-comics,
  .mrvl-section-series {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_parent {margin: 0;}
  }

  .mrvl-section-series  {background-size: 100% 100%;}
  //characters, comics, series
  .mrvl-character-card,
  .mrvl-comics-card,
  .mrvl-series-card {
    width: 450px;
    height: 350px;
  }

  .mrvl-character-card__image img,
  .mrvl-comics-card__image img,
  .mrvl-series-card__image img {
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 350px;
  }
  //map
  .mrvl_map_content {line-height: 1;}
}