.mrvl-simple-layout {
  display: flex;
  flex-direction: column;

  &_content {
    flex: 1 1 auto;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 1440px;

    background-image: url(../../assets/img/main_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}