.mrvl-pagination-button {
  width: 120px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--base-color-light);
  transition: all 1s;
  cursor: pointer;

  border: 1px solid var(--base-color-light);
  background-color: transparent;
}

.mrvl-pagination-button:hover {
  border: 1px solid var(--base-color-grey);
  background-color: var(--red-color-100);
}

