.mrvl-form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  padding: 50px 70px;
  width: 100%;
  max-width: 500px;
  height: 400px;

  background-color: rgba(255, 255, 255, 0.2);

  &_title {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 5px;

    color: var(--base-color-light);
  }

  &_text {
    width: 150px;
    height: 35px;
    font-family: var(--font-family);
    font-size: 14px;

    color: var(--base-color-light);
    background: transparent;
    border-bottom: 1px solid var(--base-color-light);
  }

  &_password {@extend .mrvl-form-login_text}
}