.custom-input {
  position: relative;

  input[type="text"] {
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: width 0.3s ease-in-out;
    
    background-color: transparent;
    color: var(--base-color-light);
    border-radius: 20px;
    border: 1px solid var(--base-color-light);

    &::placeholder {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &.open input[type="text"] {
    width: 250px;

    &::placeholder {opacity: 1;}
  }

  .custom-input_icon {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
}
