.mrvl-section-movies {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 400px;

  border: 2px solid var(--base-color-light);
  background-image: url(../../assets/img/movies.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &_parent {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: 95px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--base-color-dark);
    opacity: 0.8;
    
    &_info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      font-family: var(--font-family);
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;

      color: var(--base-color-light);

      &_title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 5px;

        color: inherit;
      }
    }

    &_description {
      @extend .mrvl-section-movies_parent_info;
      align-items: center;
    }
  }
}

