:root {
  //base colors 
  --base-color-dark: rgba(0, 0, 0, 0.9);
  --base-color-light: rgba(255, 255, 255, 255);

  //colors
  --red-color-100: rgba(255, 0, 0, 1);

  //fonts
  --font-family: "Roboto", sans-serif;
}