:root {
  //base colors 
  --base-color-dark: rgba(0, 0, 0, 0.9);
  --base-color-grey: rgba(102, 100, 100, 1);
  --base-color-light: rgba(255, 255, 255, 255);

  //another colors
  --red-color-100: rgba(255, 0, 0, 1);

  //fonts
  --font-family: "Roboto", sans-serif;
}