.hw-baner {
  width: 100%;
  max-width: 1120px;
  height: 145px;
  margin:  0 auto;

  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color:  #D9D9D9;
}